html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #000;
    overflow: hidden;    
}

#canvas {
    outline: none;
    background: radial-gradient(circle, rgba(80,80,80,1) 0%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 100%;
}